.App {
  text-align: center;
  width: 105%;
  margin: auto;
}

* {
  font-family: "SUIT", sans-serif;
  font-weight: 500;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  overflow: overlay;
}

*::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  border-radius: 16px;
  z-index: 9999;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(#c2e59c, #64b3f4);
  z-index: 9999;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
